<div style="background-color:green;color:black;border:1px solid black;margin:5px">

  <% if (userID !== undefined) { %>

    <form action="/urls" method="GET" style="margin:10px;">
      <input name="listUrls" type="submit" value="list Urls">
    </form>

    <form action="/urls/new" method="GET" style="margin:10px;">
      <input name="newUrl" type="submit" value="new URL">
    </form>

  <% } %>

    <form action="/home" method="GET" style="margin:10px;">
      <input name="homePage" type="submit" value="home page">
    </form>

</div>