<!doctype html>

<html lang="en">

<head>
   <div style="margin:5px">
    <img src="/images/welcome.png" width:auto height=200>
  </div>
  <% include ../partials/_header %>
</head>

<body>
  <% include ../partials/_footer %>
</body>

</html>